@inherits FlowbitePage

<div class="antialiased bg-gray-50 dark:bg-gray-900">
    <AuthorizeView>
        <Navbar />
    </AuthorizeView>

    <AuthorizeView>
        <Sidebar />
    </AuthorizeView>

    <main class="p-8 md:ml-64 h-auto pt-20 bg-gray-50 dark:bg-gray-900">
        @Body
    </main>
</div>